@import url(./fonts);

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Ubuntu-Light";
}

.container {
  position: relative;
  height: 50vh;
  border-bottom-left-radius: 80px;
  overflow: hidden;
}

.container:before {
  content: "";
  top: 0;
  right: 0;
  left: 400px;
  z-index: -1;
  background-image: url(./../assets/images/bg-pattern-intro.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  transform: scale(2);
  width: 100%;
  height: 100%;
  background-color: hsl(13, 100%, 72%);
  position: absolute;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 40px;
}

.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
}

a {
  color: #fff;
  text-decoration: none;
}

.menu .nav__item {
  margin: 15px;
  color: white;
}

.container__content {
  text-align: center;
  color: #fff;
}

.container__content * {
  margin: 15px;
}

.btn__login {
  background-color: transparent;
  border: none;
  color: #fff;
}

.btn__login:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.btn__primary {
  background-color: #fff;
  border: none;
  color: hsl(13, 100%, 72%);
  border-radius: 6px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn__secundary {
  background-color: hsl(13, 100%, 72%);
  border: none;
  color: white;
  border-radius: 22px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.container__second {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  overflow: hidden;
  position: relative;
}

.container__second__content {
  display: flex;
  justify-content: space-between;
}

.tittle__paragraph {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: hsl(208, 49%, 24%);
  margin-bottom: 35px;
}

.content__paragraph {
  max-width: 600px;
  margin-left: 25%;
}

.content__paragraph p {
  margin-bottom: 35px;
}

.tittle__second {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: right;
  color: hsl(208, 49%, 24%);
  margin-bottom: 65px;
}

.image__editor__desktop {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%) translate(30%) scale(0.7);
}

.container__third {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(208, 49%, 24%);
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
  color: #fff;
  height: 50vh;
}

.container__third div:nth-child(2) {
  color: black;
}

.container__fourth {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 20px;
}

.container__fourth__section {
  margin-left: 50%;
  margin-right: 10%;
}

.container__fourth__section p {
  margin-bottom: 35px;
}

.container__fourth__section h3 {
  margin-bottom: 35px;
}

.image__laptop__desktop {
  transform: scale(0.8) translateY(-50%);
  top: 50%;
  position: absolute;
  left: -320px;
}

.footer{
    background-color: #333;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 80px;
}

.footer div{
margin: 50px;
margin-bottom: 7%;
width: 500px;
}

.footer ul li{
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.5;
}

.footer h3{
margin-bottom: 10px;
}